
        /* Start Variables */
        :root {
            --main-color: #19C8FA;
            --secondary-color:  ;
            --color-background: #126377;
            --transparent-color: rgb(15 116 143 / 70%);
            
        
        }
        /* End  Variables */
        /* Start Global Rules */
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        body {
            font-family: 'Work SanS', sans-serif;
            font-family: "Open Sans", sans-serif;
        }
        .container {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }
        /* Screen Small */
        @media (min-width:768px) {
            .container {
                width: 750px;
            }
        }
        @media (min-width:992px) {
            .container {
                width: 970px;
            }
        }
        @media (min-width:1200px) {
            .container {
                width: 1170px;
            }
        }
        
        /* End Global Rules */
        /* Start Components */
         /* img {
            width: 40px;
            height: 40px;
         } */
        
        /* End Components */
        body {
            background-color: #fff;
        }
        /* Start hello Section */
        .hello_section {
            /* background-image: url("https://cmsplus.kau.edu.sa/Images/836/images/hello_section.jpeg"); */
                /* background-image: url("../images/hello_section_1.jpeg");
                background-image: url("../images/hello_section_Eid_Mobark.png"); */
            /* background-size: cover;
            height: 434px;
            max-height: 700px; */
        }
        .hello_section img {
           width: 100%;
            max-height: 600px;
        }
        /*End  hello Section */
        /* Start Section One */
        .section_01 {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .section_01 .container {
            display: flex;
        }
        @media (max-width: 991px) {
            .section_01 .container {
                flex-direction: column;
            }
        }
        .section_01 .container .general-director {
            width: calc(100% - 400px);
            width: 20%;
            text-align: center;
           background-color: #ebebeb;
           background-color: #75593d;
           background-color: #854030;
           background-color: #008f2b;
           background-color: #26803d;
           border-radius: 5px;
           border: 2px solid #777;
           background-color: #ebebeb;
           align-self: flex-start;
           margin-top: 42px;
        }
        @media (max-width: 991px) {
            .section_01 .container {
                flex-direction: column;
            }
            .section_01 .container .general-director {
                width: 100%;
                order: 2;
            }
        }
        .section_01 .container .general-director img {
            width: 155px;
            height: 170px;
            width: 100%;
            max-width: 100%; /* ملاحظة هنا   */
            /* border-radius: 5px; */
            /* border-bottom: 1px solid  #777; */
           
        }
        .section_01 .container .general-director .info { 
            color: white;
            color: #3a2e2e;
        }
        .section_01 .container .general-director .info h1 {
            margin-top: 15px;
            margin-bottom: 0;
            font-size: 30px;
            background-color: #ddd;
        }
        .section_01 .container .general-director .info p {
            margin-top: 0;
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
        }
        .section_01 .container .general-director .info a {
            font-size: 18px;
            text-decoration: none;
            transition: 0.3s;
            background-color: #777;
            background-color: #008f2b;
            background-color: #5e8557;
            padding: 5px 10px;
            border-radius: 5px;
            margin-top: 5px;
            display: inline-block;
            color: black;
            margin-bottom: 10px;
        }
        .section_01 .container .general-director .info a:hover {
            background-color: #854030;
            background-color: #ba915e;
            padding: 6px 15px;
            color: white;
            border-radius: 5px;;
        }
        .section_01 .container .abstract {
            width: 80%;
            display: flex;
            margin-left: 20px;
           /* background-color: red; */
        }
        @media (max-width: 991px) {
            .section_01 .container .abstract {
                justify-content: center;
                order: 0;
            }
        }
        .section_01 .container .abstract img {
            width: 50px;
            height: 50px;
            
        }
        .section_01 .container .abstract .text {
        
        }
        .section_01 .container .abstract .text h1 {
            font-size: 30px;
            margin-top: 3px;
            margin-right: 10px;
            padding-bottom: 1px;
            width: fit-content;
            border-bottom: 2px solid #ddd;
            border-bottom: 2px solid #854030;
           
        }
        .section_01 .container .abstract .text h1::after {
            /* content: '';
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 4px;
            background: #e66b2e; */
        }
        .section_01 .container .abstract .text p {
            line-height: 2.5;
            font-size: 20px;
        }
        /*End  Section One */
        /* Start Section Two */
        .section_02 { 
            background-color: rgb(241, 234, 234);
            background-color:#262626;
            background-color:#616361;
            background-color:#9e9e9e;
            background-color:#9e9e9e;
            background-color: #ebebeb;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .section_02 .container {
            display: flex;
        }
        .section_02 .container img {
            width: 50px;
            height: 50px;
        }
        .section_02 .container .text { 
        
        }
        .section_02 .container .text h1 {
            font-size: 30px;
            color: white;
            color: #1c2e61;
            color: #262626;
            color: black;
            margin-top: 3px;
            margin-right: 10px;
            padding-bottom: 2px;
            width: fit-content;
            border-bottom: 2px solid #ddd;
            border-bottom: 2px solid #e66b2e;
            border-bottom: 2px solid #854030;
          
        }
        .section_02 .container .text ul { 
            padding-right: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style-type: none;  
        }
        .section_02 .container .text ul li {
            color: #008f2b;
            color: #1c2e61;
            color: #262626;
            color: black;
            line-height: 2;
            font-size: 20px;
          
            position: relative;
        }
        .section_02 .container .text ul li::before {
            content: " ";
            border-top: 5px solid #854030;
            border-bottom: 5px solid #854030;
            border-right: 5px solid #854030;
            border-left: 5px solid #854030;
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
        
        
            /* content: '\F111';
            content: " ";
            background-image: url(../images/target-3.png);
            background: url(../images/target-3.png);
            width: 30px;
            height: 30px; */
        }
        /* End Section Two  */
        /* Start section_03 */
        .section_03 {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .section_03 .container .services {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .section_03 .container .services .serv {
            text-align: center;
            width: 400px;
           transition: 0.5s;
           padding: 10px;
        }
        .section_03 .container .services .serv:hover {
            border: 2px solid #ddd;
            background-color: #e66b2e;
            background-color: #854030;
            border-radius: 5px;;
            cursor: pointer;
        }
        .section_03 .container .services .serv:hover .text p {
            color: white;
        }
        .section_03 .container .services .serv img {
            width: 100px;
            height: 100px;
        }
        .section_03 .container .services .serv .text p {
            font-size: 30px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
        }
        /* End  section_03 */
        /* Start section_04 */
        .section_04 {
            background-color:#262626;
            background-color:#ebebeb;
            background-color:#9e9e9e;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .section_04 .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 120px;
            padding: 0px 50px;
            color: white;
        }
        .section_04 .content .logo {
            color: white;
            /* color: black; */
            font-weight: bold;
            text-align: center;
            background-color:#e66b2e;
            background-color:#854030;
            padding: 20px;
            border: 2px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        @media(max-width: 991px) {
            .section_04 .content .logo {
                width: 100%;
                
            }
        }
        .section_04 .content .contact-us {
            margin-bottom: 10px;
            border-right: 3px solid #E6F2F1;
            padding-right: 40px;
        }
        @media(max-width: 991px) {
            .section_04 .content .contact-us {
                margin-bottom: 10px;
                border-right: none;
                border-bottom: 3px solid #E6F2F1;
                border-top: 3px solid #E6F2F1;
                padding-top: 20px;
                padding-right: 40px;
            }
        }
        .section_04 .content .contact-us .location-img,
        .section_04 .content .contact-us .telephone-img,
        .section_04 .content .contact-us .e-mail-img,
        .section_04 .content .contact-us .post-box-img {
            margin-bottom: 20px;
        } 
        .section_04 .content .contact-us .location-img img,
        .section_04 .content .contact-us .telephone-img img,
        .section_04 .content .contact-us .e-mail-img img,
        .section_04 .content .contact-us .post-box-img img {
            vertical-align: middle;
            width: 50px;
            height: 50px;
          
        }
        .section_04 .content .contact-us .location-img .Vertical-separator,
        .section_04 .content .contact-us .telephone-img .Vertical-separator,
        .section_04 .content .contact-us .e-mail-img .Vertical-separator,
        .section_04 .content .contact-us .post-box-img .Vertical-separator
         {
            color: white;
            height: 2px;
            background-color: rgb(92, 91, 91);
            width: 2px;
            display: inline-block;
            position: relative;
            top: 20px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 20px 0px;
        }
       
        .section_04 .content .contact-us .location-img span,
        .section_04 .content .contact-us .telephone-img span,
        .section_04 .content .contact-us .e-mail-img span,
        .section_04 .content .contact-us .post-box-img span {
            font-weight: bold;
            margin-right: 10px;
        }
        .section_04 .content .follow-us {
            border-right: 3px solid #E6F2F1;
            padding-right: 40px;
        }
        @media (max-width: 991px) {
            .section_04 .content .follow-us {
                border-right: none;
                
            }
            
        }
        .section_04 .content .follow-us .twitter-icon,
        .section_04 .content .follow-us .instagram-icon,
        .section_04 .content .follow-us .snapchat-icon {
            margin-bottom: 30px;
        } 
        .section_04 .content .follow-us .twitter-icon img,
        .section_04 .content .follow-us .instagram-icon img,
        .section_04 .content .follow-us .snapchat-icon img {
            vertical-align: middle;
            width: 50px;
            height: 50px;
        }
        .section_04 .content .follow-us .twitter-icon .Vertical-separator,
        .section_04 .content .follow-us .instagram-icon .Vertical-separator,
        .section_04 .content .follow-us .snapchat-icon .Vertical-separator,
        .section_04 .content .contact-us .post-box-img .Vertical-separator
         {
            color: white;
            height: 2px;
            background-color: rgb(26, 25, 25);
            width: 2px;
            display: inline-block;
            position: relative;
            top: 20px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 20px 0px;
        }
        .section_04 .content .follow-us .twitter-icon a,
        .section_04 .content .follow-us .instagram-icon a,
        .section_04 .content .follow-us .snapchat-icon a {
            font-weight: bold;
            margin-right: 10px;
        }
        .section_04 .content .Related-sites h1  {
         font-size: 30px;
         color: white;
          margin-top: 4px;
          padding-bottom: 10px;
          position: relative;
          border-bottom: 1px solid #ddd;
          border-bottom: 2px solid #e66b2e;
          border-bottom: 2px solid #854030;
        }
        
        .section_04 .content .Related-sites h1::before {
            /* content: " ";
            display: block;
            text-align: center;
            width: 80%;;
            height: 3px;
            background-color: #ddd;
           position: absolute;
           bottom: 0; */
        }
        
        .section_04 .content .Related-sites ul {
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0;
            list-style-type: none;
        }
        .section_04 .content .Related-sites ul li { 
            margin-bottom: 40px;
            position: relative;
            text-align: center;
        }
        .section_04 .content .Related-sites ul li::after {
            content: " ";
            border-top: 5px solid #854030;
            border-bottom: 5px solid #854030;
            border-right: 5px solid #854030;
            border-left: 5px solid #854030;
            position: absolute;
            right: 0;
        }
        /* End section_04 */
        /*  */
